/* Assigns:
1. Margin left and right at 10px to body tags
2. Margin left and right at 15px to div tags*/
@mixin marginsbody {
    margin-left: 10px;
    margin-right: 10px;
}

@mixin marginsdiv {
    margin-left: 15px;
    margin-right: 15px;
}

body   {
    @include marginsbody;
}

div    {
    @include marginsdiv;
}
